
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; 
}

body {
  box-sizing: border-box; 
}

body {
    width: 100%;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding:0 20px; 
}

.body__container {
    width:100%;
background-color: #212121;
height:800px;
position: relative;
}

nav {
width: 100%;    
position: sticky;
top:0;
z-index: 222;
background-color: #2c2c2c;
height: 60px;
box-shadow: 0 2px 3px 2px black;
padding:1rem 2rem;
margin-right:40px;
}

nav::after {
    content: "";
    clear: both;
    display: table;
  }
  nav img {
    float:right;
    margin-right:10px;
  }
  
.main-navigation {
    list-style: none;
    float: left;
    padding:.5rem .4rem;
  }

.main-navigation li {
    display: inline-block;
}
.main-navigation li a {
    color: #9c9c9c;
    text-decoration: none;
    padding:0 1rem;
}
.main-navigation li a:hover {
    color: #00f7ff;
    
}

.header {
text-align: center;
padding:20px  0;
}

.header__title {
    font-size: 5rem;
    margin-bottom: .5rem;
    display: inline-block;
    margin-top:2rem;
    transition: transform .6s;
}

.header__title__grad {
    background-image: linear-gradient(to right, #860bb6, #10d3c9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
}
.header__title:hover {
    transform: translateY(-1.5rem) scale(1.04) skew(-44deg);
}


.section__center {
    background-color:;
    width: 100%;
    padding:2rem 2rem;
}

.intro--section {
    padding:2rem 2rem;
}
.intro--section__header {
    text-align: center;
    color:rgb(214, 214, 214);
    font-weight: 400;
}
.intro--section__p {
color:rgb(148, 148, 148);
}


