body{
background-color:#343538; color:white;
}
nav{
background-color:#1A1A1C;
color:white;
text-align:center;
padding:1px;
border-top:1px solid grey;
border-bottom:1px solid black;
border-radius: 10px;
}

nav ul{
list-style:none;
}

nav li{
display:inline;
max-width:10%;
max-height:10%;
font-size:98%}

nav li a{
text-align:center;
padding-left:3em;
padding-right:3em;
color:cyan;
text-decoration:none;
border-right:solid grey 2px;}

nav li a:hover{
color:white;
border-right:solid aqua 2px}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.table1 td, th{
padding: 4px;
}
.table1 th{
  background-color:#454849;
  border-bottom: #6857FA 2px solid;
  border-top: #C6CCC9 1px solid;color: aqua;
}
.table1 td{
background-color: #686B69;
color: white;
}
.trl{
  text-align:center;
  font-weight: bold;
}
.trc{
width:80%;
}
.table1 tfoot td{
  background-color: #454849;
  color:aqua;
  text-align:center;border-bottom: 3px solid #282928;
}


.eds  {
text-align:center;
 border-spacing:12px;padding:6px;
}
.eds th{width:250px;
  background-color: grey;  border-right:10px;
  border-bottom: #6857FA 2px solid;
}


.sm ul{
list-style:none;
}

.sm li{
display:inline;
}
.sm li img{
  background-color: white;border-radius: 5px;image-color:white;
  opacity: 0.7;
      filter: alpha(opacity=40);}
.sm  a :hover{
  background-color: aqua;
}

/* Recipe Galery*/
header h1{
  border-bottom:2px solid white;
  width:340px;margin-left:140px;}
.rec-galery{
background-color: #4D4F4D;
  min-height:300px;padding: 10px;

border: 2px solid #2F302F;
}

div.img {
    margin: 5px;
    border: 2px solid #ccc;
     border-radius: 10px;
    float: left;
    width: 200px;background-color:white;
}

div.img:hover {
    border: 2px solid #323331;
}

div.img img {
    width: 100%;
    height: auto;border-radius: 10px;
}

div.desc {
    
    border-radius: 10px;
    padding:5px;
    text-align: center;
    background-color: white;
    color:black;
min-height:120px;
  }
div.desc h4{
  color:teal;
  font-style: italic;
  text-decoration: underline;
  font-size: 18px;
  margin-top:0px;
}
